################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GTD4U/FileContentIndex/0397241d-a7bc-4f17-a58e-d926534bfac3.vsidx
/.vs/GTD4U/FileContentIndex/3845c86a-a43a-462b-94e1-9d0278943396.vsidx
/.vs/GTD4U/FileContentIndex/67988dca-1988-4602-b744-8584c133812f.vsidx
/.vs/GTD4U/FileContentIndex/05c61a9e-e46d-457b-877f-2eec60a521bf.vsidx
/.vs/GTD4U/FileContentIndex/50bed9e5-34a0-4ff0-b148-39b64b7e1826.vsidx
/.vs/GTD4U/FileContentIndex/1052f4f9-40f2-4c1e-8131-303913fe8794.vsidx
/.vs/GTD4U/FileContentIndex/6edc1532-bdcd-4d33-9497-95132ceb6433.vsidx
/.vs/GTD4U/FileContentIndex/dca49fe2-6e9a-47bc-aaa2-4afc381655a3.vsidx
/.vs/GTD4U/FileContentIndex/226bb15d-4f47-478d-a045-d63decf72cf9.vsidx
/.vs/GTD4U/FileContentIndex/bc45de93-98d5-4947-b9fb-51ce3c14923f.vsidx
/.vs/GTD4U/FileContentIndex/347f5dbe-20ad-482e-b833-a3d4b9d2e7b1.vsidx
